
@model TatilSitesi.Models.Siniflar.BlogYorum
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
   
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
   
</head>
<body>
    <!--header-->
    <div class="header">

    </div>
    <!--header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                <div class="single-grid">
                    @foreach (var x in Model.Deger1)
                    {
                        <img src="@x.BlogImage" alt="" style="margin-bottom:20px" />
                        <h2>@x.Baslik</h2>
                        <p>@x.Aciklama</p>
                         @* <p>
                                     @x.Aciklama.Substring(0, (@x.Aciklama.Length)/4)<br/>
                                     @x.Aciklama.Substring((@x.Aciklama.Length)/4, (@x.Aciklama.Length)/2)<br/>
                                     @x.Aciklama.Substring((@x.Aciklama.Length) / 2)<br/>
                                  
                          </p>*@
                    }

                </div>
                @foreach (var y in Model.Deger2)
                {
                    <ul class="comment-list">

                        <li>
                            <img src="~/web2/images/avatar.png" class="img-responsive" alt="">
                            <div class="desc">
                                <p>@y.KullaniciAdi : @y.Yorum</p>

                            </div>
                            <div class="clearfix"></div>
                        </li>

                    </ul>
                }
                @Html.Action("YorumYap","Blog")   
            </div>
        </div>
    </div>

</body>
</html>

   



