 @using TatilSitesi.Models.Siniflar
 @model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tur Listesi</h2>

<br/>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Tarih</th>
        @*  <th>Aciklama</th> *@
        <th>Fiyat</th>
        <th>Sil</th>
        <th>Güncelle</th>
        @* <th>Detaylar</th>*@
    </tr>
   @foreach (var x in Model)
    {
<tr>

    <td>@x.ID</td>
    <td>@x.Baslik</td>
    <td>@x.Tarih.ToString("dd.MM.yyyy")</td>
    @* <td>@x.Aciklama</td>*@
    <td>@x.Fiyat</td>
    <td><a href="/Admin/BlogSil/@x.ID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Admin/BlogGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
    @* <td><a href="#" class="btn btn-default">Detaylar</a></td>*@
</tr>
    }

</table>

<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Tur</a>

<div>
    <br />
</div>