@model TatilSitesi.Models.Siniflar.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekleme</h2>
<br/>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Tur Ekle</button>

    <div>
        <br />
    </div>
</form>

