@using TatilSitesi.Models.Siniflar
@model List<Blog>
    <div class="con-bot">
        @foreach (var x in Model)
        {
            <div class="left">
                <div class="bot-left">
                    <img src="@x.BlogImage" style="width:300px; height:144px;" alt="" />
                </div>
                <div class="left-text">
                    <h4>@x.Baslik</h4>
                    <span class="doller">@x.Fiyat</span>
                    <p class="tarih">@x.Tarih.ToString("dd.MM.yyyy")</p>

                    <p>@x.Aciklama.Substring(0,80)</p>
                    <p><a href="/Blog/BlogDetay/@x.ID"><span class="read">Devamı >></span></a></p>
                </div>
            </div>
        }
        
        @Html.Action("Partial2","Default")

       
       
    </div>